.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookItem {
  margin: 10px;
  text-align: center;
}

.bookImage {
  width: 200px; /* Adjust this based on your image size preference */
  height: 300px; /* Adjust this based on your image size preference */
  object-fit: cover;
  border-radius: 8px;
}
